{% extends 'base.html' %}
{% block content %}
<h1>Datenschutzerklärung</h1>
<p>Diese Datenschutzerklärung informiert dich über die Art, den Umfang und Zweck der Verarbeitung personenbezogener Daten innerhalb unseres Onlineangebotes.</p>

<h2>Verantwortlicher</h2>
<p>
Erik Schauer<br>
Franziskanerhöhe 9<br>
45139 Essen<br>
E-Mail: <a href="mailto:do1ffe@darc.de">do1ffe@darc.de</a>
</p>

<h2>Zugriffsdaten</h2>
<p>Wir erheben Daten über Zugriffe auf die Website und speichern diese als "Server-Logfiles" ab. Folgende Daten werden so protokolliert: besuchte Seite, Uhrzeit zum Zeitpunkt des Zugriffes, übertragene Datenmenge, Quelle/Verweis, verwendeter Browser, verwendetes Betriebssystem und IP-Adresse. Die erhobenen Daten dienen lediglich statistischen Auswertungen und zur Verbesserung der Website.</p>

<h2>Umgang mit personenbezogenen Daten</h2>
<p>Wir verarbeiten personenbezogene Daten nur, wenn dies im gesetzlichen Rahmen erlaubt ist oder wenn du in die Datenerhebung einwilligst, etwa im Rahmen einer Registrierung. Die gespeicherten Daten werden ohne deine ausdrückliche Zustimmung nicht an Dritte weitergegeben.</p>

<h2>Rechte des Nutzers</h2>
<p>Du hast als Nutzer das Recht, auf Antrag eine kostenlose Auskunft darüber zu erhalten, welche personenbezogenen Daten über dich gespeichert wurden. Du hast außerdem das Recht auf Berichtigung falscher Daten und auf die Sperrung oder Löschung deiner personenbezogenen Daten, soweit dem keine gesetzliche Aufbewahrungspflicht entgegensteht.</p>

<h2>Kontakt</h2>
<p>Für datenschutzrelevante Anliegen kannst du uns unter den oben angegebenen Kontaktdaten erreichen.</p>
{% endblock %}
